header {
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: #030303;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  padding-left: 0;
  margin: 0;
  display: flex;
}

.nav__item {
  margin: 0 25px;
}

.nav__item a {
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.5s all;
}

.nav__item a:hover {
  color: #9D8665;
}

.nav__item a:active {
  color: #7E6C51;
}

.menu {
  display: none;
}

@media only screen and (max-width: 1450px) {
  .nav {
    display: none;
  }

  .menu {
    display: block;
    border: none;
    background-color: transparent;
  }
}
@media only screen and (max-width: 1050px) {
  header {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .logo__img {
    width: 199px;
    height: 41px;
  }
}
.inner {
  padding-top: 32px;
  padding-bottom: 60px;
  background-color: #030303;
}

.inner__main {
  display: flex;
}

.inner__intro {
  padding-top: 150px;
  max-width: 598px;
  width: 100%;
  margin-right: -100px;
  z-index: 1;
}

.inner__heading {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.inner__text {
  margin: 0;
  margin-bottom: 75px;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.inner__link {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  background: #710707;
  border-radius: 10px;
  padding: 25px 64px;
  display: inline-block;
  color: #FFFFFF;
}

.inner__image {
  max-width: 1000px;
  height: 755px;
}

.inner__image-mini {
  display: none;
}

@media only screen and (max-width: 1450px) {
  .inner__main {
    justify-content: space-between;
  }

  .inner__intro {
    max-width: 396px;
    width: 100%;
    padding-top: 50px;
  }

  .inner__heading {
    font-family: "Forum";
    font-weight: 400;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .inner__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }

  .inner__link {
    padding: 20px 45px;
  }

  .inner__image {
    width: 700px;
    height: 525px;
  }
}
@media only screen and (max-width: 1050px) {
  .inner__image {
    width: 728px;
    margin: 0 auto;
    height: 546px;
  }

  .inner__heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .inner__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 2px;
  }

  .inner__intro {
    padding: 0;
    margin: 0 auto;
  }

  .inner__link {
    display: none;
  }

  .inner__main {
    flex-direction: column;
  }
}
@media only screen and (max-width: 758px) {
  .inner__image-mini {
    max-width: 380px;
    display: block;
    width: 100%;
    max-height: 285px;
    margin: 0 auto;
  }

  .inner__image {
    display: none;
  }

  .inner__heading {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
  }

  .inner__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 50px;
  }
}
.virtual {
  background-color: #DBDBDB;
  padding-top: 75px;
  padding-bottom: 75px;
}

.virtual__heading {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Forum";
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.virtual__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #710707;
  margin-bottom: 75px;
}

.virtual__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.virtual__item {
  margin-bottom: 75px;
  max-width: 440px;
}

.virtual__item img {
  margin-bottom: 25px;
}

.item__text {
  margin: 0;
  font-family: "Forum";
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.list__line {
  width: 300px;
  display: block;
  height: 2px;
  background-color: #710707;
  margin-bottom: 10px;
}

.item__text-2 {
  margin: 0;
}

.item__text-2 span {
  display: block;
  margin-top: 10px;
}

@media only screen and (max-width: 1450px) {
  .virtual {
    padding-top: 60px;
  }

  .virtual__heading {
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }

  .virtual__list {
    justify-content: space-around;
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
  }

  .virtual__item {
    max-width: 330px;
    width: 100%;
  }

  .virtual__item img {
    width: 330px;
    height: 215px;
  }

  .item__text {
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
  }

  .item__text-2 {
    font-weight: 100;
    font-size: 20px;
    line-height: 23px;
  }

  .item__text-2 span {
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
  }
}
@media only screen and (max-width: 758px) {
  .virtual__heading {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
  }

  .virtual__line {
    margin-bottom: 40px;
  }

  .virtual__list {
    flex-direction: column;
  }

  .virtual__item {
    margin: 15px auto;
  }

  .virtual__item img {
    width: 280px;
    height: 180px;
  }

  .item__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  .item__text-2 {
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
  }

  .list__line {
    width: 160px;
  }
}
.explore {
  background-color: #030303;
  padding-top: 75px;
  padding-bottom: 75px;
}

.explore__inner {
  display: flex;
  justify-content: space-between;
}

.explore__images {
  display: flex;
  align-items: center;
}

.first {
  margin-right: -403px;
  z-index: 1;
}

.second {
  width: 650px;
}

.eplore__text-div {
  max-width: 660px;
}

.explore__heading {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Forum";
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.explore__line {
  display: block;
  width: 100%;
  background-color: #710707;
  height: 4px;
  margin-bottom: 75px;
}

.explore__text + .explore__text {
  margin-top: 25px;
}

.explore__text {
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
}

.explore__text--span {
  color: #CAAA7D;
}

.explore__img {
  display: none;
}

@media only screen and (max-width: 1450px) {
  .explore {
    padding-top: 60px;
  }

  .explore__heading {
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
  }

  .explore__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
  }

  .explore__text:nth-child(3) {
    display: none;
  }

  .eplore__text-div {
    margin-bottom: 62px;
    max-width: none;
  }

  .explore__inner {
    display: inline;
  }

  .explore__images {
    display: none;
  }

  .explore__img {
    display: block;
    margin: 0 auto;
    max-width: 728px;
    height: 705px;
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .explore__heading {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
  }

  .explore__line {
    margin-bottom: 40px;
  }

  .explore__text {
    display: none;
  }

  .explore__img {
    max-width: 380px;
    max-height: 368px;
    width: 100%;
  }

  .explore__images {
    display: none;
  }
}
.video {
  padding-top: 75px;
  background-color: #DBDBDB;
}

.video__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 75px;
}

.video__heading {
  margin: 0;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.video__text {
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
}

.vide__text-span {
  max-width: 720px;
  width: 100%;
}/*# sourceMappingURL=block.css.map */