* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}



body { 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}